@model Plataforma.Areas.PCD.Models.Articulo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<link rel="stylesheet" type="text/css" href="~/Content/custombootstrap.css" />
<div class="col-lg-9">
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Detalle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Volver al indice", "Index")
    </p>
</div>