@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "layoutSitioPimas.cshtml";
}

<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000" id="slider3-4" style="background-color: rgb(255, 255, 255);">
  <div class=" container boxed-slider" style="padding-top: 120px; padding-bottom: 120px;">
    <div>
      <div>
        <ol class="carousel-indicators">
          <li data-app-prevent-settings="" data-target="#slider3-4" class="active" data-slide-to="0"></li>
          <li data-app-prevent-settings="" data-target="#slider3-4" data-slide-to="1"></li>
          <li data-app-prevent-settings="" data-target="#slider3-4" data-slide-to="2"></li>
          <li data-app-prevent-settings="" data-target="#slider3-4" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="mbr-section mbr-section-hero carousel-item dark center active" data-bg-video-slide="false">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide"> <img src="@Umbraco.Media(CurrentPage.banner1).url">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-xs-center"> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide"> <img src="@Umbraco.Media(CurrentPage.banner2).url">
                <div class="row">
                  <div class="col-md-8 col-md-offset-1"> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide"> <img src="@Umbraco.Media(CurrentPage.banner3).url">
                <div class="row">
                  <div class="col-md-8 col-md-offset-3 text-xs-right"> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
            <div class="mbr-table-cell">
              <div class="mbr-overlay" style="opacity: 0.3;"></div>
              <div class="container-slide"> <img src="@Umbraco.Media(CurrentPage.banner4).url">
                <div class="row">
                  <div class="col-md-8 col-md-offset-3 text-xs-right"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider3-4"> <span class="icon-prev" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider3-4"> <span class="icon-next" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
    </div>
  </div>
</section>
			
<section class="mbr-section" id="testimonials1-g" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
  <div class="mbr-section mbr-section__container mbr-section__container--middle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-xs-center">
          <h3 class="mbr-section-title display-2">@Umbraco.Field("blogLbl", convertLineBreaks: true, removeParagraphTags: true)</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-testimonials mbr-section mbr-section-nopadding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block">
              <p>Insertar aquí las últimas entradas del blog dinámicas. Yo aplico estilos una vez que se hayan insertado.</p>
            </div>
            
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block">
              <p>Insertar aquí las últimas entradas del blog dinámicas. Yo aplico estilos una vez que se hayan insertado.</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
				
<section class="mbr-gallery mbr-section mbr-section-nopadding mbr-slider-carousel" id="gallery4-c" data-filter="true" style="padding-top: 0rem; padding-bottom: 0rem;"> 
  <!-- Filter -->
  <div class="mbr-gallery-filter container gallery-filter-active">
    <ul>
      <li class="mbr-gallery-filter-all active">All</li>
    </ul>
  </div>
  
  <!-- Gallery -->
  <div class="mbr-gallery-row container">
    <div class=" mbr-gallery-layout-default">
      <div>
        <div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="6 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-6°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span>  </div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="7 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Ediciones-Especiales_600x600.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>	
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="7 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-7°-DH-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="7 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-7°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="8 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-8°-DH-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="8 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-8°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="9 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-9°-DH-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="9 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-9°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="10 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-10°-DH-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="10 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-10°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="11 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-11°-DH-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="11 Año" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-11°-ME-2da-edicion.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1 display-none" data-tags="Bachillerato" data-video-url="false">
            <div href="#lb-gallery4-c"><span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Bachillerato" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-Bachillerato.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Bachillerato" data-video-url="false">
            <div href="#lb-gallery4-c"> <img alt="" src="../css/assets/images/libros_images/Portada-Practicas.jpg"> <span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
          <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1 display-none" data-tags="Bachillerato" data-video-url="false">
            <div href="#lb-gallery4-c"><span class="icon-focus"><h2>Contenido</h2><p>ContenidoContenidoContenidoContenidoContenido</p> <a href="#">Leer más</a>"</span></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
		  
		  
		  <section class="mbr-section mbr-section__container article" id="header3-5" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mbr-section-title display-2">@Umbraco.Field("pimasSignificaLbl", convertLineBreaks: true, removeParagraphTags: true)</h3>
      </div>
    </div>
  </div>
</section>
<section class="mbr-section article mbr-section__container" id="content1-6" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 lead">
        <p>@Umbraco.Field("pimasTxt", convertLineBreaks: true, removeParagraphTags: true) </p>
        <br>
        <p align="center"><a class="leermas" href="../acerca-de">Leer más</a></p>
      </div>
    </div>
  </div>
</section>
<section class="mbr-section mbr-section__container article" id="header3-e" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="center-element"><img class="img-rounded text-xs-center" src="@Umbraco.Media(CurrentPage.fotoAutor).url" alt="Luis Gómez - Autor"></div>
        <h3 class="mbr-section-title display-2">@Umbraco.Field("acercadeAutorLbl", convertLineBreaks: true, removeParagraphTags: true) </h3>
      </div>
    </div>
  </div>
</section>
<section class="mbr-section article mbr-section__container" id="content1-f" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 lead">
		  @Umbraco.Field("acercadeAutorTxt", convertLineBreaks: true, removeParagraphTags: true)
		</div>
    </div>
  </div>
</section>
		  