@model Plataforma.Areas.PCD.Models.Venta

@{
    ViewBag.Title = "Insertar";
}

<h2>Insertar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-lg-9">
        <h4>Venta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.id_articulo, "Articulo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_articulo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_articulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_comprador, "Nombre del comprador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_comprador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_comprador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_receptor, "Nombre de quien recibe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_receptor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_receptor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero_comprador, "Telefono del comprador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero_comprador, new { htmlAttributes = new { @class = "form-control", @type = "tel" } })
                @Html.ValidationMessageFor(model => model.numero_comprador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero_receptor, "Telefono de quien recibe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero_receptor, new { htmlAttributes = new { @class = "form-control", @type = "tel" } })
                @Html.ValidationMessageFor(model => model.numero_receptor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, "Dirección de entrega",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horario, "Horario de entrega", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, "Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @type = "number", @min="1" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_entrega, "Metodo de entrega", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="tipo_entrega" name="tipo_entrega" class="form-control" required>
                    <option value="">Seleccione un metodo...</option>
                    <option value="Domicilio">A domicilio</option>
                </select>
                @Html.ValidationMessageFor(model => model.tipo_entrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.forma_pago, "Forma de pago", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="forma_pago" name="forma_pago" class="form-control" required>
                    <option value="">Seleccione una forma de pago...</option>
                    <option value="Contra Entrega">Contra Entrega</option>
                </select>
                @Html.ValidationMessageFor(model => model.forma_pago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Insertar" class="btn btn-default" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Volver al indice", "Index")
        </div>
    </div>
}

