@model Plataforma.Areas.PCD.Models.venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_receptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_receptor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_receptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_receptor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_preferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_preferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiempo_estimado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo_estimado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipos_pago.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipos_pago.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transporte.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transporte.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
