@model Plataforma.Areas.PCD.Models.venta

@{
    ViewBag.Title = "Cancelar compra";
}

<h1 class="class-forms">Cancelar compra</h1>
<h3 class="class-forms">¿Estas seguro de que quieres cancelar esta compra?</h3>
<div class="col-lg-12">
    <h4 class="class-forms">Compra</h4>
    <dl class="dl-horizontal">
        <dt>
            Comprador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_comprador)
        </dd>

        <dt>
            Receptor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_receptor)
        </dd>

        <dt>
            Teléfono de comprador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_comprador)
        </dd>

        <dt>
            Teléfono de receptor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_receptor)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Horario de preferencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_preferencia)
        </dd>

        <dt>
            Fecha estimada de entrega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo_estimado)
        </dd>

        <dt>
            Tipo de pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipos_pago.nombre)
        </dd>

        <dt>
            Transporte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transporte.nombre)
        </dd>

        <dt>
            Nombre de usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancelar compra" class="btn btn-danger" /> |
            <a href="../carrito/Index">Volver al carrito</a>
        </div>
    }
</div>
