@model Plataforma.Areas.PCD.Models.venta

@{
    ViewBag.Title = "Detalles";
}

<div class="col-md-12">
    <h1 class="class-forms">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        Detalles
    </h1>
    <h6>Información asociada a la venta</h6>
    <br />
    <h4 class="class-forms">Venta</h4>
    <dl class="dl-horizontal">
        <dt>
            Nombre del comprador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_comprador)
        </dd>

        <dt>
            Nombre del receptor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_receptor)
        </dd>

        <dt>
            Número del comprador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_comprador)
        </dd>

        <dt>
            Número del receptor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_receptor)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Horario de preferencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_preferencia)
        </dd>

        <dt>
            Tiempo estimado de entrega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo_estimado)
        </dd>

        <dt>
            Tipo de pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipos_pago.nombre)
        </dd>

        <dt>
            Transporte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transporte.nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_venta.nombre)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Volver al índice", "Index")
    </p>
</div>