
@{
    ViewBag.Title = "PagoCliente";
}


<h2 class="class-forms">Realizar Pago</h2>
@using (Html.BeginForm())
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-lg-9">
        <h1 class="class-forms"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;Pago</h1>
        @if(@ViewBag.alerta != null || @ViewBag.alerta != "")
        {
            <h2 class="text-danger">@ViewBag.alerta</h2>
        }
        <h6>Elija su método de pago, si no tiene uno por favor agréguelo</h6>
        <br>
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Comprador
                </dt>

                <dd>
                    @ViewBag.venta.nombre_comprador
                </dd>
                <dt>
                    Telefono
                </dt>

                <dd>
                    @ViewBag.venta.numero_comprador
                </dd>
                <dt>
                    Fecha
                </dt>

                <dd>
                    @ViewBag.venta.tiempo_estimado.ToString("dd/MM/yyyy")
                </dd>
                <dt>
                    Artículos
                </dt>

                <dd>
                    <ul>
                        @foreach (var item in ViewBag.venta.ventas_articulos)
                        {
                            <li>
                                @item.articulo.nombre
                            </li>
                        }
                    </ul>    
                </dd>
                <dt>
                    Total
                </dt>

                <dd>
                    @ViewBag.venta.total
                </dd>
            </dl>
        </div>
        <div class="col-md-12 form-group">
            <label class="col-md-4" id="idTarjeta" for="idTarjeta">Tarjeta seleccionada</label>
            <div class="col-md-7">
                <select id="idTarjeta" class="form-control" name="idTarjeta">
                    @foreach (var item in ViewBag.idTarjeta)
                {
                        <option value="@item.Id">
                            @item.Nickname
                        </option>
                    }
                </select>
            </div>
            <div class="col-md-1"></div> 
        </div>
        <br>
        <div class="form-group col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                &nbsp;&nbsp;<a href="../PCD/ventas/AgregarTarjeta" class="btn btn-primary">Agregar método de pago</a>
            </div>
        </div>
        <br>
        <div class="form-group col-md-12">
            <div class="col-md-4"></div> 
            <div class="col-md-4">
                <a href="../ventas/Delete/@ViewBag.venta.id" class="btn btn-danger">Cancelar</a>
            </div>
                <div class="col-md-3">
                    <input type="submit" value="Pagar" class="btn btn-success" />
                </div>
           </div>
    </div>

}