@using Plataforma.Areas.PCD.Models
@model LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
}
<body class="geometry">
    <div id="login" class="login-pltaforma">
        <h1 class="class-forms">
            <i class="fa fa-key" aria-hidden="true"></i>
            Inicia sesión
        </h1>
        <div class="row">
            <div class="col-lg-12">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                        @Html.AntiForgeryToken()
                        <h4 class="login-form">Usa tu cuenta de usuario para ingresar.</h4>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <br>
                                <div class="form-group">
                                    
                                    <label class="col-xs-6 col-md-6 control-label" for="Email">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        &nbsp;Usuario
                                    </label>
                                    <div class="col-xs-6 col-md-6">
                                        @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control", @type = "text", @value = "", @autocomplete = "off", @style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-6 col-md-6" for="Password">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                        &nbsp;Contraseña
                                    </label>
                                    <div class="col-xs-6 col-md-6">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", @type = "password", @autocomplete = "off", @style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Iniciar sesión" class="btn btn-primary">
                                    </div>
                                </div>
                                <p>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Registrate como <a href="~/PCD/profesores_temporal/Create">Profesor</a> o como <a href="~/PCD/usuarios/Create">Usuario</a><br>
                                    <a href="~/PCD/usuarios/CambiarPasswordUsuario">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                        &nbsp;Recuperar contraseña
                                    </a>
                                </p>
                                <p>
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    <a href="/preguntas-frecuentes">
                                        &nbsp;Preguntas frecuentes
                                    </a>
                                </p>
                    }
                </section>
            </div>
        </div>
    </div>

</body>



@*<div id="login">
        <h2>@ViewBag.Title.</h2>
        <div class="row">
            <div class="col-lg-9">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <h4>Usa tu cuenta de usuario para ingresar.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, "Nombre de usuario", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, "Contraseña", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            Registrate como <a href="../profesores_temporal/Create">Profesor</a> o como <a href="../usuarios/Create">Usuario</a><br>
                            <a href="../usuarios/CambiarPasswordUsuario">Recuperar contraseña</a>
                        </p>
                    }
                </section>
            </div>
        </div>

    </div>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
