@model Plataforma.Areas.PCD.Models.usuario

@{
    ViewBag.Title = "Editar";
}
<h2 class="class-forms">Editar</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <head>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script>
            $(document).ready(function () {
                $("#username").change(function () {
                    var username = $("#username").val();
                    document.getElementById("username-validation").innerHTML = "";
                    if (username !== document.getElementById("nombreUsuario").value) {
                        $.ajax({
                            type: "POST",
                            url: "/PCD/usuarios/validarUserName",
                            data: '{"username":"' + username + '"}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data === "ocupado") {
                                    document.getElementById("username").value = "";
                                    label = document.createElement('label');
                                    label.innerHTML = 'El nombre de usuario "' + username + '" ya fue utilizado';
                                    label.style.color = "red";
                                    document.getElementById("username-validation").appendChild(label);
                                }
                                else {
                                    label = document.createElement('label');
                                    label.innerHTML = 'El nombre de usuario "' + username + '" esta disponible';
                                    label.style.color = "green";

                                    div = document.createElement('div');
                                    div.className = "form-group";

                                    labelPass = document.createElement('label');
                                    labelPass.className = "control-label col-md-2";
                                    labelPass.innerHTML = "Password"

                                    input = document.createElement('input');
                                    input.type = "password";
                                    input.className = "form-control"
                                    input.required = true;
                                    input.id = "pass";
                                    input.name = "pass";

                                    div.appendChild(labelPass);
                                    div.appendChild(input);

                                    document.getElementById("username-validation").appendChild(label);
                                    document.getElementById("username-validation").appendChild(div);
                                }
                            },
                            error: errores
                        });
                    }
                    function errores(msg) {
                        alert(msg);
                    }
                    return false;
                });
                $("#correo").change(function () {
                    document.getElementById("correo-validation").innerHTML = "";
                    var correo = $("#correo").val();
                    var correoUsuario = $("#correoUsuario").val();
                    if (correo != correoUsuario) {
                        $.ajax({
                            type: "POST",
                            url: "/PCD/usuarios/validarCorreo",
                            data: '{"correo":"' + correo + '"}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                document.getElementById("correo-validation").innerHTML = "";
                                if (data === "ocupado") {
                                    document.getElementById("correo").value = "";
                                    label = document.createElement('label');
                                    label.innerHTML = 'Esta cuenta de correo ya existe en nuestra base de datos, favor utilizar la opción <a href="/PCD/usuarios/CambiarPasswordUsuario">Recuperar Contraseña</a>' +
                                                        ' para poder ingresar, o ponerse en contacto con nosotros al correo electronico <a href="mailto:editorial@pimas.co.cr">editorial@pimas.co.cr</a>' +
                                                        ' para recuperar su contraseña';
                                    label.style.color = "red";
                                    document.getElementById("correo-validation").appendChild(label);
                                }
                                else {
                                    label = document.createElement('label');
                                    label.innerHTML = 'El correo "' + correo + '" esta disponible';
                                    label.style.color = "green";
                                    document.getElementById("correo-validation").appendChild(label);
                                }
                            },
                            error: errores
                        })
                    };
                        function errores(msg) {
                            alert(msg);
                        }
                        return false;
                    });
                @*$("#roles").change(function () {
                    var rol = $("#roles").val();
                    if (rol == 9 || rol == 10) {
                        $("#colegios").prop('multiple', true);
                        !$("#colegios option").prop("selected", false);
                    } else {
                        $("#colegios").prop('multiple', false);
                    }
                });
                    var rol = @Model.roles.FirstOrDefault().id;
                    alert(rol);
                    if (rol == 9 || rol == 10) {
                        $("#colegios").prop('multiple', true);
                        !$("#colegios option").prop("selected", false);
                    } else {
                        $("#colegios").prop('multiple', false);
                    }*@
            });

        </script>
    </head>

    <div class="form-horizontal col-lg-9">
        <h1 class="class-forms"><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp;Usuario</h1>
        <h6>Edite la información necesaria del usuario</h6>
        <br><br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.fecha_primer_ingreso)
        @Html.HiddenFor(model => model.fecha_vencimiento)
        <input type="hidden" id="nombreUsuario" name="nombreUsuario" value="@ViewBag.nombreUsuario">
        <input type="hidden" id="correoUsuario" name="correoUsuario" value="@ViewBag.correoUsuario">

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, "Apellidos", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" } })
                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var usuario = (Plataforma.Areas.PCD.Models.usuario)Session["usuario"];
            if (usuario.roles.FirstOrDefault().rol.Equals(Plataforma.App_Start.Constantes.ADMINISTRADOR))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.roles, "Rol", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        <select id="roles" class="form-control" name="roles">
                            <option value="">Selecciona un rol...</option>
                            @foreach (var item in ViewBag.Roles)
                            {
                                <option value="@item.id">
                                    @item.rol
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.roles, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

        }
        @*<div class="form-group">
            @Html.LabelFor(model => model.colegios, "Institución", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("colegios", null, htmlAttributes: new { @class = "form-control"})
                <select id="colegios" class="form-control" name="colegios">
                    <option value="">Seleccione un colegio...</option>
                    @foreach (var item in ViewBag.Colegios)
                    {
                        <option value="@item.id">
                            @item.nombre
                        </option>
                    }
                </select>

                @Html.ValidationMessageFor(model => model.colegios, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.username, "Usuario", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" } })
                <div id="username-validation"></div>
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password", @disabled = "disabled" } })
        <div class="form-group">
            @Html.LabelFor(model => model.telefono, "Telefono", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;", @type = "tel" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono_2, "Telefono 2", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.telefono_2, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;", @type = "tel" } })
                @Html.ValidationMessageFor(model => model.telefono_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, "Correo", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
@Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;", @type = "email" } })
                <div id="correo-validation"></div>
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo_2, "Correo 2", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo_2, new { htmlAttributes = new { @class = "form-control text-box single-line", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;", @type = "email" } })
                @Html.ValidationMessageFor(model => model.correo_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informacion_opcional, "Información Adicional", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.informacion_opcional, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informacion_opcional, "", new { @class = "text-danger" })
            </div>
        </div>
    @if (usuario.roles.FirstOrDefault().rol.Equals(Plataforma.App_Start.Constantes.ADMINISTRADOR))
    {
        <div class="form-group">
            @Html.Label("Categoria de usuario", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <select name="categoria_precio" id="categoria_precio" class="form-control">
                    <option value="1" selected>Categoria 1</option>
                    <option value="2">Categoria 2</option>
                    <option value="3">Categoria 3</option>
                </select>
            </div>
        </div>
    }
        <div class="form-group">
            @Html.LabelFor(model => model.notificacione, "Notificaciones", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.CheckBox("notificacionCorreo", new { htmlAttributes = new { @class = "form-control" } }) Correo<br />
                @Html.CheckBox("notificacionTelefono", new { htmlAttributes = new { @class = "form-control" } })Telefono
                @Html.ValidationMessageFor(model => model.notificacione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-lg-9">
            @Html.ActionLink("Cambiar Contraseña", "CambiarPassword", new { id = Model.id })|
            @Html.ActionLink("Volver al indice", "Index")
        </div>
    </div>
            }




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}