@model Plataforma.Areas.PCD.Models.curso
@{
    ViewBag.Title = Model.curso1;
}
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        function Buscar() {
            var nombre = document.getElementById('nombre').value;
            @*if (@ViewBag.documentosprofe != null && @ViewBag.documentosprofe.Count > 0){
                $("#documentos").load("/PCD/cursos/VerCurso/" + @Model.id + "/?idGrupo=" + @ViewBag.Grupo.id + "/&nombre=" + nombre + " #documentos");
            }else{*@
                $("#documentos").load("/PCD/cursos/VerCurso/" + @Model.id + "/?nombre=" + nombre + " #documentos");
            //}
            //return false;
        }
    </script>
</head>

<h2>Curso: @Model.curso1</h2>

<div class="form-group">
    @Html.Label("Buscar:", htmlAttributes: new { @class = "control-label col-md-4", style = "top: 10px;" })
    <div class="col-md-10">
        <input type="text" id="nombre" name="nombre" placeholder="Título del documento" class="form-control text-box single-line" onchange="Buscar()" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" />
    </div>
</div>

<div class="col-lg-12" id="documentos">

    <div class="col-lg-12 vista">
        @Html.HiddenFor(model => model.id)

        @for (int i = 0; i < Model.documentos_curso.Count; i++)
            {
                Plataforma.Areas.PCD.Models.documentos_curso item = Model.documentos_curso.ElementAt(i);
                if (item.visibilidad == true)
                {
                    if (i == 0)
                    {
                    <div class="encabezado col-lg-10">
                        <hr />
                        <h3>@Model.documentos_curso.ElementAt(i).documento.unidade.unidad</h3>
                    </div>
                }
                    <div class="documento">
                        @if (ViewBag.Grupo != null)
                    {
                            <a href="~/PCD/documentos/VerDocumento/@item.documento.id?idCurso=@Model.id&idGrupo=@ViewBag.Grupo.id">
                                <p>
                                    <img src="@Url.Content(item.documento.tipo_documento.icono)"><br />
                                    @item.documento.titulo
                                </p>
                            </a>
                        }
                        else
                        {
                            <a href="~/PCD/documentos/VerDocumento/@item.documento.id?idCurso=@Model.id">

                                <p>
                                    <img src="@Url.Content(item.documento.tipo_documento.icono)"><br />
                                    @item.documento.titulo
                                </p>
                            </a>
                        }
                    </div>
                if ((i < Model.documentos_curso.Count - 1) && (@item.documento.unidad != Model.documentos_curso.ElementAt(i + 1).documento.unidad))
                {
                    <br />
                    <div class="encabezado col-lg-10">
                        <hr />
                        <h3>@Model.documentos_curso.ElementAt(i + 1).documento.unidade.unidad</h3>
                        <br />
                    </div>
                }
            }
        }
    </div>

    @if (ViewBag.documentosprofe != null && ViewBag.documentosprofe.Count > 0)
    {
        <div class="col-lg-9 vista">
            <br />
            <hr /><br />
            <h3>Documentos compartidos por el profesor</h3>
            @foreach (var item in ViewBag.documentosprofe)
                {
                    if (item.visibilidad)
                    {
                    <div class="col-sm-3">
                        <a href="~/PCD/documentos_profe/VerDocumento/@item.id">
                            <p>
                                <img src=""><br />
                                @item.titulo
                            </p>
                        </a>
                    </div>
                }
            }
        </div>
    }
</div>
