@model Plataforma.Areas.PCD.Models.DocumentosCurso
@{
    ViewBag.Title = "Documentos";
}
<h1 class="class-forms">Ver Documentos</h1>
<h6>Agregue o retire los documentos deseados del curso</h6>
<br />
<head>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $("#unidadTemporal").change(function () {
                var unidad = $('#unidadTemporal').val();
                var capitulo = $('#capituloTemporal').val();
                $("#documentos").load("../VerDocumentos/" +@Model.curso.contador_visitas +"?idCurso=" +@Model.curso.id +"&unidad=" + unidad + "&capitulo=" + capitulo + " #documentos");
                return false;
            });

            $("#capituloTemporal").change(function () {
                var unidad = $('#unidadTemporal').val();
                var capitulo = $('#capituloTemporal').val();
                $("#documentos").load("../VerDocumentos/" +@Model.curso.contador_visitas +"?idCurso=" +@Model.curso.id +"&unidad=" + unidad + "&capitulo=" + capitulo + " #documentos");
                return false;
            });

            $("#quitar").click(function () {
                !$("[name= 'documentosSeleccionados'] option:selected").appendTo("[name= 'documentos-agregar']");
                !$("[name= 'documentosSeleccionados'] option").prop("selected", true);
                return false;
            });

            $("#agregar").click(function () {
                !$("[name= 'documentos-agregar'] option:selected").appendTo("[name= 'documentosSeleccionados']");
                !$("[name= 'documentosSeleccionados'] option").prop("selected", true);
                return false;
            });
        });
    </script>
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 form-horizontal">
        @Html.HiddenFor(model => model.curso.id)

        @Html.HiddenFor(model => model.unidad)
        @Html.HiddenFor(model => model.capitulo)
        <div class="form-group">
            @Html.Label("Unidades:", htmlAttributes: new { @class = "col-md-4" })
            <div class="col-md-10">
                <select id="unidadTemporal" name="unidadTemporal" class="form-control">
                    <option value="0">Seleccione una unidad...</option>
                    @foreach (var item in ViewBag.unidades)
                    {
                        <option value="@item.id">
                            @item.unidad
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Capitulo:", htmlAttributes: new { @class = "col-md-4" })
            <div class="col-md-10">
                <input type="number" id="capituloTemporal" name="capituloTemporal" placeholder="Capitulo" min="0" />
            </div>
        </div>
        <div class="form-group" id="documentos">
            <p><h4>Agregue uno o mas documentos:</h4></p>
            <div class="col-md-10">
                <select id="lista-documentos" class="form-control" multiple="multiple" name="documentos-agregar" draggable="true">
                    @if (Model.unidad <= 0 && Model.capitulo <= 0)
                {
                    foreach (var item in Model.documentos)
                    {
                            <option value="@item.id" style="background:url('../../Recursos/pdf-file_47192peq.png') no-repeat center left; padding-left:30px;">
                                @item.titulo
                            </option>
                        }
                    }
                    else
                    {

                        if (Model.unidad > 0 && Model.capitulo <= 0)
                        {
                            foreach (var item in Model.documentos)
                            {
                                if (Model.unidad == item.unidad)
                                {
                                    <option value="@item.id" style="background:url('../../Recursos/pdf-file_47192peq.png') no-repeat center left; padding-left:30px;">
                                        @item.titulo
                                    </option>
                                }
                            }
                        }
                        else if (Model.capitulo > 0 && Model.unidad <= 0)
                        {
                            foreach (var item in Model.documentos)
                            {
                                if (Model.capitulo == item.capitulo)
                                {
                                    <option value="@item.id" style="background:url('../../Recursos/pdf-file_47192peq.png') no-repeat center left; padding-left:30px;">
                                        @item.titulo
                                    </option>
                                }
                            }
                        }
                        else
                        {
                            foreach (var item in Model.documentos)
                            {
                                if (Model.unidad == item.unidad && Model.capitulo == item.capitulo)
                                {
                                    <option value="@item.id" style="background:url('../../Recursos/pdf-file_47192peq.png') no-repeat center left; padding-left:30px;">
                                        @item.titulo
                                    </option>
                                }
                            }
                        }
                    }
                </select>
                </div>
            </div>
        <div class="form-group">
            <a id="agregar" class="btn btn-primary" onclick="return false;"> Agregar </a>
            <a id="quitar" class="btn btn-danger" onclick="return false;"> Quitar </a>
        </div>
        <div class="form-group" id="documentos-seleccionados">
            <p><h4>Retire uno o mas documentos:</h4></p>
            <div class="col-md-10">
                <select id="lista-documentos" class="form-control" multiple="multiple" name="documentosSeleccionados">
                    @foreach (var item in ViewBag.docsSeleccionados)
                {
                        <option value="@item.documento.id" style="background:url('../../Recursos/pdf-file_47192peq.png') no-repeat center left; padding-left:30px;">
                            @item.documento.titulo
                        </option>
                    }
                </select>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-10">
                <input type="submit" value="Agregar Documentos" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
