@model Plataforma.Areas.PCD.Models.documento
@{
    ViewBag.Title = "Eliminar";
}
<h1 class="class-forms">Eliminar</h1>
<h3 class="class-forms">¿Estas seguro de que quieres eliminar este documento?</h3>
<div class="col-md-12">
    <h4 class="class-forms">Documento</h4>
    <dl class="dl-horizontal">
        <dt>
            Titulo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            Tipo de documento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo_documento.tipo_documento1)
        </dd>
        <dt>
            Unidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unidade.unidad)
        </dd>
        <dt>
            Capitulo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capitulo)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion_corta)
        </dd>
        <dt>
            Fecha de publicación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_publicacion)
        </dd>
        <dt>
            Visitas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contador_visitas)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al indice", "Index")
        </div>
    }
</div>